In [50]:
import pandas as pd

file = "/Users/ChristianBarrera//Documents/thanksgiving-2015-poll-data.csv"
data = pd.read_csv(file, encoding="Latin-1")
data.head()

,RespondentID,Do you celebrate Thanksgiving?,What is typically the main dish at your Thanksgiving dinner?,What is typically the main dish at your Thanksgiving dinner? - Other (please specify),How is the main dish typically cooked?,How is the main dish typically cooked? - Other (please specify),What kind of stuffing/dressing do you typically have?,What kind of stuffing/dressing do you typically have? - Other (please specify),What type of cranberry saucedo you typically have?,What type of cranberry saucedo you typically have? - Other (please specify),...,Have you ever tried to meet up with hometown friends on Thanksgiving night?,"Have you ever attended a ""Friendsgiving?""",Will you shop any Black Friday sales on Thanksgiving Day?,Do you work in retail?,Will you employer make you work on Black Friday?,How would you describe where you live?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
0,4337954960,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,None,NaN,...,Yes,No,No,No,NaN,Suburban,18 - 29,Male,"$75,000 to $99,999",Middle Atlantic
1,4337951949,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Other (please specify),Homemade cranberry gelatin ring,...,No,No,Yes,No,NaN,Rural,18 - 29,Female,"$50,000 to $74,999",East South Central
2,4337935621,Yes,Turkey,NaN,Roasted,NaN,Rice-based,NaN,Homemade,NaN,...,Yes,Yes,Yes,No,NaN,Suburban,18 - 29,Male,"$0 to $9,999",Mountain
3,4337933040,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Homemade,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$200,000 and up",Pacific
4,4337931983,Yes,Tofurkey,NaN,Baked,NaN,Bread-based,NaN,Canned,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$100,000 to $124,999",Pacific

In [51]:
print(data["Do you celebrate Thanksgiving?"].value_counts())

data = data[data["Do you celebrate Thanksgiving?"]=="Yes"]

Yes    980
No      78
Name: Do you celebrate Thanksgiving?, dtype: int64

In [52]:
print(data["What is typically the main dish at your Thanksgiving dinner?"].value_counts())
print(data[data["What is typically the main dish at your Thanksgiving dinner?"]=="Tofurkey"]["Do you typically have gravy?"])

Turkey                    859
Other (please specify)     35
Ham/Pork                   29
Tofurkey                   20
Chicken                    12
Roast beef                 11
I don't know                5
Turducken                   3
Name: What is typically the main dish at your Thanksgiving dinner?, dtype: int64
4      Yes
33     Yes
69      No
72      No
77     Yes
145    Yes
175    Yes
218     No
243    Yes
275     No
393    Yes
399    Yes
571    Yes
594    Yes
628     No
774     No
820     No
837    Yes
860     No
953    Yes
Name: Do you typically have gravy?, dtype: object

In [53]:
apple_isnull = data["Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple"].isnull()
pumpkin_isnull = data["Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin"].isnull()
pecan_isnull = data["Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan"].isnull()

ate_pies = (apple_isnull & pumpkin_isnull & pecan_isnull)
print(ate_pies.value_counts())

False    876
True     104
dtype: int64

In [55]:
def income(value):
    if pd.isnull(value):
        return None
    value = value.split(" ")[0]
    if value == 'Prefer':
        return None
    value = value.replace("$", "")
    value = value.replace(",", "")
    value = int(value)
    return value

data["int_income"] = data["How much total combined money did all members of your HOUSEHOLD earn last year?"].apply(income)
print(data["int_income"].describe())
print(data["int_income"].value_counts())

count       829.000000
mean      75965.018094
std       59068.636748
min           0.000000
25%       25000.000000
50%       75000.000000
75%      100000.000000
max      200000.000000
Name: int_income, dtype: float64
25000.0     166
75000.0     127
50000.0     127
100000.0    109
200000.0     76
10000.0      60
0.0          52
125000.0     48
150000.0     38
175000.0     26
Name: int_income, dtype: int64

## Findings on age
This is not accurate because our algorithm takes in the youngest of the age groups listed in the strings.  This is why the 25%, 50%, and 75% quartiles are so clean cut.  However, there is a fairly even distribution on the age groups.

In [54]:
def ext_age(age):
    if pd.isnull(age):
        return None
    age = age.split(" ")[0]
    age = age.replace("+", "")
    return int(age)

data['int_age'] = data["Age"].apply(ext_age)
print(data['int_age'].describe())
print(data['int_age'].value_counts())

count    947.000000
mean      40.089757
std       15.352014
min       18.000000
25%       30.000000
50%       45.000000
75%       60.000000
max       60.000000
Name: int_age, dtype: float64
45.0    269
60.0    258
30.0    235
18.0    185
Name: int_age, dtype: int64

# Findings on income
Just as we found in the age field, the income assumes the lowest income of the range given.  The benefit of this analysis though is getting an understanding of how many people fall in each category.  Standard deviation is also really high.

In [56]:
print(data[data["int_income"] < 150000]["How far will you travel for Thanksgiving?"].value_counts()/6.89)

Thanksgiving is happening at my home--I won't travel at all                         40.783745
Thanksgiving is local--it will take place in the town I live in                     29.462990
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    21.770682
Thanksgiving is out of town and far away--I have to drive several hours or fly       7.982583
Name: How far will you travel for Thanksgiving?, dtype: float64

In [57]:
print(data[data["int_income"] >= 150000]["How far will you travel for Thanksgiving?"].value_counts()/1.40)

Thanksgiving is happening at my home--I won't travel at all                         47.142857
Thanksgiving is local--it will take place in the town I live in                     24.285714
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    17.857143
Thanksgiving is out of town and far away--I have to drive several hours or fly      10.714286
Name: How far will you travel for Thanksgiving?, dtype: float64

# Findings on income and travel
It does not seem that there is much difference between how people travel for Thanksgiving based on their income levels.  There is small correlation to people with higher incomes hosting at their home, possibly because younger people have smaller incomes and will travel to visit their parents.

In [58]:
data.pivot_table(index="Have you ever tried to meet up with hometown friends on Thanksgiving night?",
                columns='Have you ever attended a "Friendsgiving?"',
                values="int_age")

Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  42.283702  37.010526
Yes                                                 41.475410  33.976744

In [59]:
data.pivot_table(index="Have you ever tried to meet up with hometown friends on Thanksgiving night?",
                columns='Have you ever attended a "Friendsgiving?"',
                values="int_income")

Have you ever attended a "Friendsgiving?"                     No           Yes
Have you ever tried to meet up with hometown fr...
No                                                  78914.549654  72894.736842
Yes                                                 78750.000000  66019.736842

# Findings on who attended "Friendsgiving"
Younger people were more likely to attend.  Also, lower income people which can be assumed to correlate with younger people.

# Next steps for exploration
- Figure out the most common dessert people eat.  
- Figure out the most common complete meal people eat.  
- Identify how many people work on Thanksgiving.  
- Find regional patterns in the dinner menus.  
- Find age, gender, and income based patterns in dinner menus.